*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cabin', sans-serif;
}
header{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    width:80%;
    margin: auto;
    display: flex;
    padding: .5rem;
}

ul{
    list-style: none;
    display: flex;
}
ul>li{ 
    display: flex;
    display: inline-block;
    margin: .5rem;
}

.logo{
    display: flex;
    width: 25%;
    align-items: center;
}
.list{
    display: flex;
    width: 50%;
    justify-content: center;
}
.login{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}
.butt-nav{
    padding: .5rem;
    border: solid 1px black;
    border-radius: 2rem;
}

.container-article-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.article-head{
    width: 50%;
    text-align: center;
    font-weight: bold;
    align-items:center;
}
.title-head{
    margin-bottom: 2rem;

}
.butt-download::before{
    content: "\1F817";
 }

.butt{
    margin-top: 1rem;
    border: solid 1px black;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}
.butt-black{
    background-color: black;
    color: white;
}

.container-one{
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center; 
    align-items: center;
}

.container-two{
    height: 500px;
    background-color: lightgray;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-three{
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.article{
    max-width: 30%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }

 .article>h1{
    font-size: 2rem;
    margin-bottom: 1rem;
 }
 .article>p{
    font-weight: bolder;
 }

 .immagine{
    width: 500px;
    display: flex;
 }

 .container-last-article{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .last-article{
    width: 60%;
    text-align: center;
    flex-direction: column;
 }
 .last-article>h1{
    margin-bottom: 1rem;
 }

 .container-big-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .immagine-big{
    display: flex;
    justify-content: center;
 }
 .container-last-butt{
    text-align: center;
 }
 .last-butt{
    border: 1px solid black;
    border-radius: 2rem;
    background-color: blue;
    color: white;
    padding: .5rem;
    margin-top: 2rem;
 }

 footer{
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
 }

 .container-footer{
    width: 75%;
    display: flex;
 }

.link-social{
    width: 30%;
    background-color: orange;
    display: flex;
}

 .link{
    width: calc(100%/4);
    display: flex;
    background-color: aqua;
 }